//! **************************************************************************
// Written by: Map P.20131013 on Wed Dec 02 15:28:06 2015
//! **************************************************************************

SCHEMATIC START;
NET "Clock_BUFGP/IBUFG" BEL "Clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

