//! **************************************************************************
// Written by: Map P.20131013 on Wed Dec 02 15:26:31 2015
//! **************************************************************************

SCHEMATIC START;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

